.r-form_container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
      0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
      0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif;
    position: relative;
  }
  

  .r-input_cont {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .r-input_cont label {
    font-size: 0.75rem;
    color: #8B8E98;
    font-weight: 600;
  }
 .r-input_cont input {
    width:250px;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .r-input_cont input:focus {
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  }
  
  .reset_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    background:#176984;
    border-radius: 8px;
    outline: none;
    color: #fff;
    cursor: pointer;
  }

    
  .r-logo_holder {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
    border: 1px solid #F7F7F8;
    filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:15%;
  }
  .r-logo_holder img{
    width:120px;
    height: auto;
  }
  