* {
  margin: 0;
  padding: 0;
}
header {
  max-width: 100vw;
  height: 60px;
  position: sticky;
  display: flex;
  flex-direction: row;
  flex: auto;
  z-index: 999;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: 0.5s;
  top: 0px;
  left: 0;
  justify-content: space-between;
  align-items: center;
}

.h-logo {
  height: 80px;
  cursor: pointer;
  width: 80px;
  outline: none;
}
.h-nav {
  margin-right: 10px;
  display: flex;
  padding: 10px;
  position: relative;
}
.notification,
.hamburger,
.sx-search {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hamburger {
  margin-left: 8px;
}
.sx-search {
  margin-right: 8px;
  display: none;
}

.notification-icon,
.hamburger-icon,
.sx-search-icon {
  height: 20px;
  width: 20px;
}
.h-menu {
  position: absolute;
  height: fit-content;
  width: max-content;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #799ba7;
  z-index: 999;
  top: 100%;
  right: 20%;
}
.h-menu .h-menu-items li {
  border-bottom: 0.1px solid #99b6c1;
  padding: 6px 12px;
  transition: 0.3s ease-in-out;
  color: #ccc;
}

.h-menu .h-menu-items li:hover {
  background-color: #ccc;
  color: #799ba7;
}
.h-menu .h-menu-items li:first-child:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.h-menu .h-menu-items li .h-menu-icon,
.h-menu-icon-help {
  height: 22px;
  width: 22px;
}

.h-menu .h-menu-items li:hover .h-menu-icon {
  fill: #176984;
  stroke: #176984;
}
.h-menu .h-menu-items li:hover .h-menu-icon-help {
  stroke: #176984;
}

.h-menu .h-menu-items li:hover a {
  color: #799ba7;
}
.h-menu .h-menu-items li a {
  text-decoration: none;
  color: #ccc;
  font-weight: 600;
}
.socials{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials span{
  color: #ccc;
}
.socials ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
}
.socials ul li {
  padding: 5px 10px;
}

@media (max-width: 600px) {
  .sx-search {
    display: block;
  }
}

.notification-count {
  position: absolute;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  border-radius: 50%;
  background-color: crimson;
  text-align: center;
  font-size: 9px;
  color: #fff;
  top: -5px;
  left: 5px;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.h-socials-icon {
  height: 22px;
  width: 22px;
  transition: 0.3s ease-out;
}
.h-socials-icon:hover {
  fill: #176984;
}

@media (max-width: 600px) {
  .lg-search {
    display: none;
  }
}
